{% extends 'teacher/teacherbase.html' %}
{% block content %}
{% load static %}


<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
    <style media="screen">
      a:link {
        text-decoration: none;
      }
  
      h6 {
        text-align: center;
      }
  
      .row {
        margin: 100px;
      }
    </style>
  </head>
  <br><br>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Students</h6>
      </div>
      <table class="table table-hover table-bordered" id="dev-table">
        <thead>
          <tr>
            
            <th>Sr.</th>

            <th>Student Name</th>
            
            <th>Student Registration Number</th>

            <th>Profile pic</th>

            <th>Mobile Number</th>
            
            <th>Address</th>

            <th>Actions</th>
          </tr>
        </thead>
        {% for s in students %}
        <tr>
  
          <td> {{forloop.counter}}</td>
          <td> {{s.get_name}}</td>
          <td> {{s.registration_number}}</td>
          <td> <img src="{% static s.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td> {{s.mobile}}</td>
          <td> {{s.address}}</td>
          
          <td><a class="btn btn-success btn-sm" style="border-radius:0px;" href="{% url 'teacher-update-student' s.id  %}"><span class="glyphicon glyphicon-edit"></span></a>
           <a class="btn btn-danger btn-sm" style="border-radius:0px;" href="{% url 'teacher-delete-student' s.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  


  <br><br>
  <br><br><br><br><br><br>



{% endblock content %}

